.our-partners-block{
    height: 642px;
    background:url("img/our-partners-fone.svg")0 -977px/100%no-repeat;
    display: flex;
    justify-content: center;
    padding-top:288px;
    padding-left:1.5%;
}

.our-partners-block__text-content{
    max-width: 26.5%;
    margin-right: 3.62%
}

.our-partners-block__text-content .description-block__text{
    width:90%;
    line-height:22px;
}

.our-partners{
    height: 92px;
    width:30.36458333333333%;
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding-top:100px;
}

.webots-partner{
    list-style-type: none;
}

@media all and (max-width: 1680px){
    .our-partners-block{
        background:url("img/our-partners-fone.svg")0 -957px/100%no-repeat;
    }
}

@media all and (max-width:1190px){

    .our-partners-block{
        height: auto;
        padding-top: 70px;
        flex-direction: column-reverse;
    }

    .our-partners-block__text-content{
        max-width: 100%;
        margin-right: 0;
        padding-left: 30px;
        padding-right: 30px;
        text-align: center;
    }

    .our-partners-block__text-content .description-block__text{
        width:100%;
        line-height:22px;
    }

    .our-partners{
        height: auto;
        width:100%;
        display:flex;
        padding-top:0;
        justify-content: space-around;
        flex-wrap: wrap;
    }

    .webots-partner:first-child{
        width:100%;
        padding-left:23%;
    }

}

@media all and (max-width:533px){

    .webots-partner:first-child img{
        width: 107px;
        height: 22px;
    }

    .webots-partner:nth-child(2) img{
        width: 97px;
        height: 34px;
    }

    .webots-partner:nth-child(3) img{
        width: 120px;
        height: 64px;
    }

}