.about-webots{
    background:url("img/about-webots-image.svg") no-repeat 49% 0;
    background-size:90%;
    padding-top:80px;
    position:relative;
}

.about-webots__fone-block{
    position:absolute;
    top:0;
    width:100%;
    height:100%;
    background-color:rgba(0, 0, 0, 0.8);
    z-index:1;
}

.mobile-decorate-line1{
    position: absolute;
    left:0;
    top:350px;
    display:none;
}

.about-webots .socials{
    width: 30px;
    height: 210px;
    display:flex;
    flex-wrap: wrap;
    align-items:center;
    justify-content: space-between;
    flex-direction: column;
    position:absolute;
    z-index: 2;
    top:12%;
    left:96%;
}

@media all and (max-width:1190px){
    .about-webots__fone-block{
        display:none;
    }

    .about-webots{
        background: linear-gradient(190deg, #5EC8D9 0%, rgba(94, 200, 217, 0) 73%);
        padding-top:32px;
        height:568px;
    }

    .about-webots::before{
        width:50%;
        height:180px;
        content:"";
        display:block;
        position:absolute;
        background:url("./img/about-webots-mobile.svg")no-repeat;
        margin:0 auto;
        top:176px;
        left:50%;
        margin-left:-112.5px;
    }

    .mobile-decorate-line1{
        display:block;
    }

    .about-webots .socials{
        display:none;
    }
}

@media all and (max-width:533px){
    .about-webots::before{
        width:70.3125%;
    }
}